<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_Exam_Edmer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>473974FB1F192F1B005E5089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4739750F1F192F1B005E5089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4739751A1F192F1B005E5089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
